body {
    text-align: center;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
}

video, canvas {
    width: 90vw;
    max-width: 600px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px #00eaff;
}
